* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #050505;
    height: 100%;
}

div.left-side {
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    box-shadow: 2px 0 10px -5px #777777;
    position: fixed;
    background-color: #f0f007;
    z-index: 1;
    overflow: auto;
}

div.header {
    text-align: center;
    position: relative;
    top: 65px;
}

#hero {
    font-size: 25px;
    font-weight: 700;
    transition: color 500ms;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -o-transition: color 500ms;
    cursor: pointer;
    margin-bottom: 20px;
    color: #292f33;
}

#hero:hover {
    color: #4267B2;
}

div.pic {
    width: 150px;
    height: 200px;
    margin: auto;
    transition: box-shadow 400ms;
    -webkit-transition: box-shadow 400ms;
    -moz-transition: box-shadow 400ms;
    -o-transition: box-shadow 400ms;
    border-radius: 50%;
    cursor: pointer;
}

div.pic:hover {
    box-shadow: inset 0px 0 150px 10px rgba(255, 255, 255, 0.3);
}

div.links {
    margin-top: 35px;
}

.in-pic {
    position: relative;
    border-radius: 50%;
    z-index: -1;
    width: 100%;
    height: auto;
}

div.navbar {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.li1 {
    position: relative;
    margin-bottom: 50px;
    font-size: 32px;
    color: #1c5881;
}

div.right-side {
    position: relative;
    margin-right: 100px;
    margin-left: 400px;
    background-color: #030303;
    min-width: 700px;

}

div#right-side-header {
    margin-top: 50px;
}

h1.right-side-header {
    font-size: 40px;
    color: #ff0303;
}

a[target="_blank"] {
    padding-right: 10px;
    padding-left: 10px;
}

.li {
    background-color: #2383cc;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 15px;
    transition: background-color 500ms;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
}

.li:hover {
    background-color: #1a6aa7;
}

.li2:active {
    transition: background-color 100ms;
    -webkit-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    -moz-transition: background-color 100ms;
    background-color: rgb(51, 182, 62);
}

i {
    font-size: 45px;
    transition: color 300ms;
    -webkit-transition: color 300ms;
    -moz-transition: color 300ms;
    -o-transition: color 300ms;
}

i#in-facebook:hover {
    color: #4267B2;
}

i#in-instagram:hover {
    color: #bc2a8d;
}


.head {
    margin-bottom: 20px;
}

.desc {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 1.75em;
}

.time {
    margin-top: 20px;
    text-align: right;
}

.content {
    background-color: white;
    padding: 50px 50px 25px 50px;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    outline: 0;
}

.content:hover {
    box-shadow: 0 0 3px rgba(74, 113, 197, 1);
}

.content-one {
    margin-top: 50px;
    margin-bottom: 25px;
}

.content-two {
    margin-top: 50px;
    margin-bottom: 25px;
}

.content-three {
    margin-top: 50px;
    margin-bottom: 25px;
}

.content-four {
    margin-top: 50px;
    margin-bottom: 25px;
}

.content-five {
    margin-top: 50px;
    margin-bottom: 25px;
}